{% extends "base.html" %}
{% block title %} User Guide   {% endblock %} 
  {% block content %} 
  <body id = "bg_edit" style="background-attachment:fixed;"> 

      <!--huong dan su dung-->
      <div class = "container" id ="User-guide">
        <div class = "well" id = "gradient"  style="border-color: rgba(0,0,0,0); ">
            <h1>Hướng dẫn sử dụng và các thông tin khác - User guide</h1>
            <form>

            </form>
        </div>
      </div>

      <!--Loi khuyen-->
      <div class = "container" id ="advice">
        <div class = "well" id = "gradient"  style="border-color: rgba(0,0,0,0); ">
            <h1>Lời khuyên - Advice</h1>
            <form>
            </form>
        </div>
      </div>
{% endblock %}
